@charset "ISO-8859-1";



body{
	background-color: black;
	color: white;	
}

h1{
	text-align: center;
}

.final-display{
	display: flex;
	
}

.left-side{
	display: flex;
	flex-direction: column;
}

.pokemon-info{
	display: flex;
	border: white double 2px;
	flex: 1;
}

.sprite-frame{
	position: relative;
	height: 120px;
	width: 120px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	
}

#pokemon-img{
	height: 120px;
	width: 120px;
}

#item-img{
	position: relative;
	height: 40px;
	width: 40px;
	left: 80px;
	top: -40px;
}


.condition-ok{
	background: rgba(25, 255, 25, 0.3);
}

.condition-ng{
	background: rgba(255, 25, 25, 0.3);
}

.condition{
	border: solid white 1px;
}

.condition-display{
	border: double white 2px;
	flex: 3;
}


